*
!*/

!tests/basic/main.cn
!tests/basic/main.cpp

!tests/everything/animals/dog.cn
!tests/everything/animals/dog.cpp
!tests/everything/animals/dog.hpp
!tests/everything/main.cn
!tests/everything/main.cpp

!.gitignore

!notes.md
!README.md

!transpile.py
