*
!*/

!screenshots/basic_c.png
!screenshots/basic_cn.png
!screenshots/basic.png

!example_modules/deque_student.cn

!tests/basic/main.cn
!tests/basic/main.c

!tests/everything/animals/dog.cn
!tests/everything/animals/dog.cpp
!tests/everything/animals/dog.hpp
!tests/everything/main.cn
!tests/everything/main.cpp

# TODO: Create proper icon
# !vsicons-custom-icons/file_type_cn.svg

!.gitignore

!notes.md
!README.md

!transpile.py
