*
!*/

!tests/everything/animals/dog.c
!tests/everything/animals/dog.cn
!tests/everything/animals/dog.h
!tests/everything/main.c
!tests/everything/main.cn

!.gitignore

!notes.md
!README.md

!transpile.py
